@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TutorialApp.Models.Items>
<a asp-action="AddItems">Add new</a>
<table class="table mt-4">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(x=>x.Title)</th>
            <th>@Html.DisplayNameFor(x=>x.Description)</th>
            <th>@Html.DisplayNameFor(x=>x.Priority)</th>
            <th>@Html.DisplayNameFor(x=>x.Image)</th>
      </tr>
    </thead>
    <tbody id="dataTable">
        @foreach(var items in Model)
        {
            <tr>
                <td>@items.Title</td>
                <td>@items.Description</td>
                <td>@items.Priority</td>
                <td><img src="@items.Image" alt="Image Preview" style="max-width: 300px; max-height: 200px; margin-top: 10px;"></td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="UpdateItems" asp-route-id="@items.Id">Edit</a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm btn-delete" data-item-id="@items.Id">Delete</a>
                    @*<a href="@Url.Action("Delete", "Items", new { id=@items.Id })" class="btn btn-danger btn-sm" onclick="return confirm('Are sure wants to delete?');">
                        Delete
                    </a>*@
                </td>
            </tr>
        }
        
    </tbody>
  </table>

 @section Scripts{
    <script type="text/javascript">
       
            $(".btn-delete").click(function () {
                debugger
                var itemId = $(this).data("item-id");

                if (confirm("Are you sure you want to delete this item?")) {
                    $.ajax({
                        url: "/Items/Delete",
                        type: "POST",
                        data: { id: itemId },
                        dataType: "html",
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        
    </script>
     
    }
 